.container-work {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000;
}

.navbar-container-work {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.navbar-container-work li {
    font-size: 20px;
    padding: 5px 15px;
    list-style: none;
    color: #fff;
    opacity: 0.6;
}

.navbar-container-work li:active {
    opacity: 1;
}

.image-gallery {
    column-count: 4;
    column-gap: 10px;
    padding: 0 10px;
    opacity: 0;
    /* Ban đầu ẩn */
    transform: translateY(20px);
    /* Vị trí ban đầu */
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    /* Hiệu ứng mượt */
}

.image-gallery.show-animation {
    opacity: 1;
    /* Hiển thị ảnh */
    transform: translateY(0);
    /* Trả về vị trí ban đầu */
}

.image-gallery .image-item {
    position: relative;
    overflow: hidden;
    border-radius: 4%;
    animation: none;
    opacity: 0;
    transform: translateY(20px);
}

.image-gallery.show-animation .image-item {
    animation: showUp 0.6s ease-in-out forwards;
}

.image-gallery .image {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 4%;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.image-gallery .image-item:hover .image {
    transform: scale(1.1);
    /* Phóng to ảnh khi hover */
    filter: brightness(0.9);
    /* Làm tối ảnh một chút */
}

/* Hiệu ứng xoay nhẹ khi hover */
.image-gallery .image-item:hover {
    transform: rotate(2deg);
    transition: transform 0.3s ease-in-out;
}

@keyframes showUp {

    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}