.container-home {
    background-color: #fff;
    color: #000;
    padding-top: 120px;
    padding-bottom: 120px;
}

.toggle-section {
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.toggle-summary {
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    list-style-type: none;
}

/* Ẩn phần nội dung (p) mặc định */
.toggle-section p,
.toggle-section .child-container {
    display: none;
    padding: 10px;
    margin-top: 5px;
}

/* Khi thẻ div mở, hiển thị nội dung */
.toggle-section.open p,
.toggle-section.open .child-container {
    display: flex;
}

/* Biểu tượng thay đổi khi mở/đóng */
.toggle-section.open .toggle-summary::after {
    content: "▲";
    /* Thay đổi biểu tượng khi mở */
}

.toggle-section:not(.open) .toggle-summary::after {
    content: "▼";
    /* Biểu tượng cho thẻ đóng */
}

.container-home .container-left h2 {
    font-size: 60px;
    letter-spacing: 1px;
}

.container-home .container-left h2:first-child {
    font-weight: 100;
}

.container-home .container-left h2:last-child {
    font-weight: 800;
}

.container-home .child-container {
    padding: 0;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: flex-start;
}

.container-home .child-container .container-right {
    height: auto;
    padding: 0;
}

.container-home .child-container .container-right p {
    flex-grow: 1;
    padding-right: 68px;
}