.animated-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000;
}

.animated-image h2 {
    margin: 50px;
    padding: 10px;
    font-size: 40px;
    color: #fff;
    text-align: center;
}


.list-img {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}